# -----------------------------
# ✅ Python & Virtual Environment
# -----------------------------
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.venv/
venv/
ENV/
env/

# -----------------------------
# ✅ Django
# -----------------------------
db.sqlite3
*.log
media/
staticfiles/
local_settings.py

# -----------------------------
# ✅ Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/
*.ipynb_checkpoints
*.ipynb_checkpoints/
*.ipynb~   # 임시 파일

# -----------------------------
# ✅ Machine Learning Files
# -----------------------------
*.h5
*.hdf5
*.pkl
*.joblib
*.ckpt
*.pt
*.onnx

# -----------------------------
# ✅ VSCode / IDE
# -----------------------------
.vscode/
.idea/
*.swp

# -----------------------------
# ✅ macOS / Windows
# -----------------------------
.DS_Store
Thumbs.db
